
.content{
    width: 100%;
    position: absolute;
    top: 150px;
    background: white;
    height: 787px;
    /* background-image: url("background.jpg"); */
}

.title{
    padding-top: 1%;
    font-family: sans-serif;
    font-size: 48px;
}

.contact{
    display: block;
    padding: 50px;
    /* border: 1px solid red; */
}

.content inputs{
    font-family: sans-serif;
}

.founders {
    /* border: 3px solid #fff; */
    display: flex;
}

.f {
    flex: auto;
    /* border: 2px solid red; */
} 

.thef {
    padding-top: 2%;
    font-size: 48px;
    font-family: sans-serif;
}

.name {
    font-size: 24px;
}

.param{
}

.head{
    position: absolute;
}

