
.content{
    width: 100%;
    position: absolute;
    top: 150px;
    background: white;
    height: 787px;
    /* background-image: url("background.jpg"); */
}

.title{

    font-size: 30px;
    top: 1%;
    position: relative;
    display: block;
    padding-bottom: 30px;
    color: rgba(0, 134, 74, .5);

}

.contact{
    display: block;
    padding-top: 50px;
    padding-bottom: 1px;
    /* border: 1px solid red; */
}

.content inputs{
    font-family: sans-serif;
}

#texter{
    resize: none;
}

.founders {
    display: flex;

}

.f {
    flex: auto;
    
} 

.thef {
    font-size: 30px;
    top: 5%;
    position: relative;
    display: block;
    color: rgba(0, 134, 74, .5);
    padding-bottom: 30px;
}

.name {
    font-size: 24px;
}

.param{
}

.head{
    position: absolute;
}



