h1 {
    color: white;
    text-shadow: 0 0 1px #133A1B;
    font-size: 50px;
}

h3 {
    color: white;
    text-shadow: 0 0 1px #133A1B;
    font-size: 30px;
}
.summerCollection p, a {
    color: white;
    text-shadow: 0 0 1px #133A1B;
    font-size: 30px;
        text-decoration: none;
    padding: 10px;
    
}

.summerCollection {
    background-color:rgba(19, 58, 27, .4);
    width:100%;
    background-size: cover;
    padding-bottom: 15px;
    padding-top: 15px;
}

*{
    margin: 0;
    padding: 0;
}

body{
    text-align: center;
}
.wrapper{
    width:1170px
    margin: 0 auto;
}
header{
    height: 150px;
    background: rgba(0, 134, 74, .5);
    width: 100%;
    position: absolute;
    z-index: -1;
}
.logo{
    float: left;
    padding-left: 40%;
    padding-top: 30px;
    padding-bottom: 15px;
    left: 8%;
    
}
.logoImg img{
    width: 150px;
    height: 150px;
    float: left;
    padding: 1px;
    padding-left: 20px;

    
}

.logoImg a{
    display:block;
    position: absolute;

}
.logo a{
    text-decoration: none;
    font-size: 30px;
    font-family: "sans-serif";
    color: white;
    letter-spacing: 5px;
    padding-left: 30px;
            
    
}
nav{
    float: left;
    position: absolute;
    left: 28%;
    line-height: 100px;
    padding-top: 50px;
}
nav a{
    text-decoration: none;
    font-family: "sans-serif";
    text-transform: lowercase;
    letter-spacing: 4px;
    font-size: 20px;
    margin: 0 10px;
    color: #fff;
}

.content{
    width: 100%;
    position: absolute;
    top: 160px;
    background: white;
    
}


.main-footer{
    background:rgba(0, 134, 74, .5);
    color: white;
    text-align:center;
    padding: 10px;
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.main-footer p{
    font-family: "sans-serif";
    padding: 10px;
}

@media only screen and (max-width: 875px){
    .logo a{
        font-size: 15px;
    }
@media screen and (max-width: 975px) {

}



