h1 {
    top: 5%;
    position: relative;
    font-size: 32px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#clothesList {
    padding-inline-start: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(275px, 3fr));
    /* grid-template-columns: repeat(auto-fit, minmax(min-content, 300px) */
    grid-gap: 20px;
    width:96%;
    margin:auto;
    overflow:hidden;
    /* z-index: 14; */
}




 .clothingType h1{
     padding-left: 25px;
     padding-top: 5px;
    float:left;
    /* font-size: 1.5rem; */
    font-family: sans-serif;
    text-transform: lowercase;
    letter-spacing: 4px;
    font-size: 25px;
    margin: 0 10px;
    color: rgba(0, 134, 74, .5);
}
.clothingType {
    /* border:1px; */
    width: 100%;
    height: 40px;
    border-bottom: 1px solid;
    border-color: gray;
    position: relative;
} 

.pics {
    list-style-type: none;
    background-color: white;
    border-radius: 3px;
    padding: 25px 25px;
    display: grid;
    /* grid-template-rows: 6fr 2fr; */
    text-align: center;
}

.pics:hover{
    cursor:pointer;
}

.listWrapper{
    margin-bottom:60px;
}

.description{
    padding-top: 7px;
    font-family: "sans-serif";
    text-align: left;
    font-size: 17px;
}

.descriptionWrapper{
    max-width: 200px;
    width:auto;
    height:auto;
}

.pics img {
    max-height: 700px;
    max-width:275px;
    margin-bottom:20px;
   height: auto; 
   margin: auto; 
}
